.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
build
.vscode
docs
*.md
.editorconfig
phpunit.xml
robots.txt
docker-compose*.yml
Dockerfile
